<h1>Tipe Data dan Operasi Dasar</h1>

In [2]:
nama = input("Masukan nama anda:")
usia = int(input("Masukan usia anda:"))
tinggi = int(input("Masukan tinggi anda:"))

print(f"Halo, {nama}! usia anda adalah {usia} tahun dan tinggi badan anda adalah {tinggi}")

Masukan nama anda: Anby
Masukan usia anda: 23
Masukan tinggi anda: 156

Halo, Anby! usia anda adalah 23 tahun dan tinggi badan anda adalah 156

<h1>Percabangan (if/else)</h1>

In [16]:
nilai = int(input("Masukan nilai (0 - 100):"))

if nilai > 100 :
    grade = "Nilai tidak valid"

elif nilai >= 85 :
    grade = "A"

elif nilai >= 70 :
    grade = "B"

elif nilai >= 55 :
    grade = "C"

elif nilai >= 40 :
    grade = "D"

elif nilai <= 40 :
    grade = "E"

else :
    grade = "Nilai tida valid"

print(f"Nilai anda adalah: {grade}")

Masukan nilai (0 - 100): 67

Nilai anda adalah: C

<h1>Perulangan dan List</h1>

In [21]:
angka = []

for i in range(5) :
    angka_input = int(input(f"Masukan angka ke-{i+1}: "))
    angka.append(angka_input)

total = sum(angka)
rata2 = total / len(angka)
tertinggi = max(angka)
terkecil = min(angka)

print(f"Total: {total}")
print(f"Rata - rata: {rata2}")
print(f"Tertinggi: {tertinggi}")
print(f"Terkecil: {terkecil}")

Masukan angka ke-1:  1
Masukan angka ke-2:  2
Masukan angka ke-3:  3
Masukan angka ke-4:  4
Masukan angka ke-5:  5

Total: 15
Rata - rata: 3.0
Tertinggi: 5
Terkecil: 1

<h1>Dictionary dan Rata-rata Nilai</h1>

In [32]:
nilai_mk = {}

for i in range(3) :
    mk = input(f"Masukan mata pelajaran ke-{i+1}:")
    nilai = int(input(f"Masukan nilai untu {mk}:"))
    nilai_mk[mk] = nilai

print("\nDaftar nilai mata kuliah:")
for mk, nilai in nilai_mk.items() :
    print(f"{mk}: {nilai}")

Masukan mata pelajaran ke-1: MTK
Masukan nilai untu MTK: 40
Masukan mata pelajaran ke-2: ALJABAR
Masukan nilai untu ALJABAR: 50
Masukan mata pelajaran ke-3: DISKRIT
Masukan nilai untu DISKRIT: 60

Daftar nilai mata kuliah:
MTK: 40
ALJABAR: 50
DISKRIT: 60