<h1>PERULANGAN / LOOPING</h1>

In [6]:
#for - while
#collections - list, tuple, set, dictionary
# for variable in collections

fruits = ["Apple", "Banana", "Watermelon", "pineapple"]
for fruits in fruits:
    print(f"Nama buah: {fruits}")
    
print("Looping Selesai")

Nama buah: Apple
Nama buah: Banana
Nama buah: Watermelon
Nama buah: pineapple
Looping Selesai

In [26]:
#Hitunglah rata-rata dari nilai pemrograman TI24G

pythonScores = [90, 100, 85, 60, 65, 50]
total = 0
lulus = 0
TLulus = 0

#1. Menghitung Jumlah total dari nilai - didalam looping
#2. Membagi dengan jumlah Data - diluar looping
#3. Hitunglah jumlah mahasiswa yang lulus
#4. Hitunglah jumlah mahasiswa yang TIDAK lulus

for score in pythonScores:
    total = total + score
    if score >= 70 :
        lulus += 1

TLulus = len(pythonScores) - lulus

print(f"Jumlah mahasiswa lulus = {lulus}")
print(f"Jumlah mahasiswa TIDAK lulus = {TLulus}")

rata2 = total / len(pythonScores)
print(f"Rata - rata nilai pemrograman TI24G adalah: {rata2}")

Jumlah mahasiswa lulus = 3
Jumlah mahasiswa TIDAK lulus = 3
Rata - rata nilai pemrograman TI24G adalah: 75.0

In [34]:
#Menghitung jumlah huruf vocal - a, i, u, e, o

vocal = ['a', 'i', 'u', 'e', 'o']
total = 0

sentences = input("Isikan Kalimat:")
for char in sentences :
    if char.lower() in vocal :
        total += 1

print(f"Jumlah huruf vocal = {total}")

Isikan Kalimat: ALAMAK

Jumlah huruf vocal = 3

In [50]:
#List Comprehension
data = [10, 20, 30, 40, 50]
square = [x**2 for x in data]
print(square)

pythonScores = [90, 100, 85, 60, 65, 50]
passExam = ["Lulus" if x >= 70 else "Tidak Lulus" for x in pythonScores]
print(passExam)

[100, 400, 900, 1600, 2500]
['Lulus', 'Lulus', 'Lulus', 'Tidak Lulus', 'Tidak Lulus', 'Tidak Lulus']

In [56]:
#Enumerate
month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
for index, month in enumerate(month) :
    print(f"{index} : {month}")

0 : Jan
1 : Feb
2 : Mar
3 : Apr
4 : May
5 : Jun
6 : Jul
7 : Aug
8 : Sep
9 : Oct
10 : Nov
11 : Dec

In [78]:
#Menghitung berapa jumlah Laki-laki dan Perempuan pada tempat duduk di bioskop

total = 0
man = 0
women = 0

chairs = ["L", "L", "P", "L", "P", "L", "P", "P"]

for gender in chairs:
    if gender == "L" :
        man += 1

women = len(chairs) - man
print(f"Jumlah Laki - laki: {man}")
print(f"Jumlah Perempuan: {women}")

Jumlah Laki - laki: 4
Jumlah Perempuan: 2

In [82]:
totalCouple = 0

chairs = ["L", "", "P", "L", "P", "L", "", "P", "P", "L"]

for index, chair in enumerate(chairs):
    if index < len(chairs) - 1:
        if chairs [index] != "" and chairs[index +1] != "":
            if chairs [index] != chairs[index +1]:
                totalCouple += 1

print(f"Jumlah penonton Couple: {totalCouple}")

Jumlah penonton Couple: 4

In [92]:
#RANGE
for i in range(10):
    print(f"{i} ", end = '')
print()
for j in range(5, 16):
    print(f"{j} ", end = '')
print()
for h in range(1, 11):
    print(h * 10, " ", end = '')
print()
for n in range(10, 0, -1):
    print(n, " ", end = '')

0 1 2 3 4 5 6 7 8 9
5 6 7 8 9 10 11 12 13 14 15
10  20  30  40  50  60  70  80  90  100
10  9  8  7  6  5  4  3  2  1

In [100]:
#range case
#FAKTORIAL

total = 1

number = int(input("ISIKAN BILANGAN:"))
for i in range(1, number+1):
    total *= i
print(f"{number}! = {total}")

ISIKAN BILANGAN: 5

5! = 120

In [104]:
#BILANGAN PRIMA ATAU BUKAN

faktor = 0

number = int(input("ISIKAN BILANGAN:"))
for i in range(1, number+1):
    if number % i==0:
        faktor += 1

if faktor == 2:
    print(f"{number} adalah bilangan Prima")
else :
    print(f"{number} adalah BUKAN bilangan Prima")

ISIKAN BILANGAN: 3

3 adalah bilangan Prima

In [106]:
sign = 1

for i in range(1, 11):
    result = sign * i
    print(result, " ", end = '')
    sign = sign * -1

1  -2  3  -4  5  -6  7  -8  9  -10