In [41]:
name = "Naufal Meitsamar Rizqyana"
age = 19
nim = "20240040108"
address, province = "Nanggeleng", "42069"
scorePython = 90.5
isMarried = False
print("Nama: ", name)
print("Umur: ", age)
print("Alamat: ", address)
print("Nilai Program: ", scorePython)
print("Status Menikah: ", isMarried)

print("Tipe Data <name>", type(name))
print("Tipe Data <age>", type(age))
print("Tipe Data <address>", type(address))
print("Tipe Data <province>", type(province))
print("Tipe Data <scorePython>", type(scorePython))
print("Tipe Data <isMarried>", type(isMarried))

#Konversi String - int, float, bool
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt, strToFloat, strToBool, sep="-")

#Konversi Int - string, float, bool
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr, intToFloat, intToBool, sep="-")

#Konversi Float - string, int, bool
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr, floatToInt, floatToBool, sep="-")

#Konversi Bool - int, float, string
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)
print(boolToInt, boolToFloat, boolToStr, sep="-")

#Tipe Data basis bilangan
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Nilai desimal: ", desimal)
print("Nilai biner: ", biner)
print("Nilai octal: ", octal)
print("Nilai hexa: ", hexa)

print("Nilai biner dari ", desimal, ": ", bin(desimal)) 
print("Nilai octa dari ", desimal, ": ", oct(desimal))
print("Nilai hex dari ", desimal, ": ", hex(desimal))

#Tipe data collection
#list
cities = ["Bandung", "Sukabumi", "Bogor", "Jakarta", "Medan"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"

print(cities)

#Tuple
names = ("Anby", "Nicole", "Billy")
print(names)
print(names[1])

#Dictionary
studentData = {
    "name" : "Robi",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "Jawa BARAT"
    },
    "isMarried" : True,
    "hobbies" : ["Basket Ball", "Football"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"] ["province"])
print(studentData["hobbies"] [0])

#Konversi Dictionary
studentList = [
    {
        "name" : "Robi",
        "age" : 25,
        "address" : {
            "street" : "Cisaat",
            "number" : 21,
            "province" : "Jawa Barat"
        },
        "isMarried" : True,
        "hobbies" : ["Basket Ball", "Football"]
    },
    {
        "name" : "Dedi",
        "age" : 15,
        "address" : {
            "street" : "Bogor",
            "number" : 29,
            "province" : "Jawa Barat"
        },
        "isMarried" : False,
        "hobbies" : ["Chess", "Singing"]
    }
]
print(studentList[0])
print(studentList[1])

#Konversi Dictionary

list_list = [["Name", "Anby"], ["Age", 30], ["Status", True]]
dictlistStudent = dict(list_list)
print(dictlistStudent)

list_tuple = [("Name", "Nicole"), ("Address", "Bogor")]
dicTupleStudent = dict(list_list)
print(dicTupleStudent)

tuple_list = (["Name", "Cat"], ["Type", "Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("Name", "Crocodile"), ("Type", "Reptile"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

keys = ["Vehicle", "Brand", "cc"]
values = ["Car", "BMW", 2500]
car = dict(zip(keys, values))
print(car)

Nama:  Naufal Meitsamar Rizqyana
Umur:  19
Alamat:  Nanggeleng
Nilai Program:  90.5
Status Menikah:  False
Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>
42069-42069.0-True
19-19.0-True
90.5-90-True
0-0.0-False
Nilai desimal:  500
Nilai biner:  10
Nilai octal:  255
Nilai hexa:  255
Nilai biner dari  500 :  0b111110100
Nilai octa dari  500 :  0o764
Nilai hex dari  500 :  0x1f4
['Bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
Bandung
Medan
M
n
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
('Anby', 'Nicole', 'Billy')
Nicole
{'name': 'Robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa BARAT'}, 'isMarried': True, 'hobbies': ['Basket Ball', 'Football']}
25
Jawa BARAT
Basket Ball
{'name': 'Robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket Ball', 'Football']}
{'name': 'Dedi', 'age': 15, 'address': {'street': 'Bogor', 'number': 29, 'province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['Chess', 'Singing']}
{'Name': 'Anby', 'Age': 30, 'Status': True}
{'Name': 'Anby', 'Age': 30, 'Status': True}
{'Name': 'Cat', 'Type': 'Mamalia'}
{'Name': 'Crocodile', 'Type': 'Reptile'}
{'Vehicle': 'Car', 'Brand': 'BMW', 'cc': 2500}